<ion-view view-title="Om applikasjonen">
  <ion-content>
  <div class="about">
    <p>
	    "Vettu hva?" er en prototype på en mobilapplikasjon som har som hensikt å gi brukere smarte anbefalinger til historier basert på interesser, og på denne måten skape en personalisert brukeropplevelse. 
	    <br><br>
	    Applikasjonen er laget i sammenheng med det kulturelle forskningsprosjektet TAGCLOUD. Målet er å skape en større interesse for kulturarv ved å blant annet utvikle nye innovative applikasjoner som engasjerer brukere.
	    <br><br> 
	    "Vettu hva?" ble startet utviklet våren 2015. Idèen for applikasjonen kom fra forskningskonsernet SINTEF, og ble utviklet av en studentgruppe ved Norges teknisk-naturvitenskapelige universitet (NTNU) som et fagprosjekt.
    </p>
  </div>
  </ion-content>
</ion-view>
