<ion-view view-title="Om applikasjonen">
  <ion-content>
    <p>
	    Denne applikasjonen ble startet utviklet våren 2015, i et faglig studentprosjekt ved Norges teknisk-naturvitenskapelige universitet.
	    <br><br>
	    Applikasjonen er laget i regi av forskningskonsernet SINTEF, og er en del av det kulturelle prosjektet TAGCLOUD.
	    <br><br>
	    Hensikten med applikasjonen er å gi brukere smarte anbefalinger basert på interesser, og på denne måten skape en personalisert brukeropplevelse. 
    </p>
  </ion-content>
</ion-view>
