<ion-view view-title="Om applikasjonen">
  <ion-content>
  <div class="about card">
    <p>
	    "Vettu hva?" er en prototype på en mobilapplikasjon som gir brukere anbefalinger til kulturelle fortellinger basert på interesser.
	   </p>
     <p>
	    Applikasjonen er laget i sammenheng med EU/FP7 IST forskningsprosjektet TAG CLOUD. Målet med prosjektet er å skape større interesse for kulturarv gjennom en personalisert kulturopplevelse.
	   </p>
     <p>
	    "Vettu hva?" ble utviklet våren 2015. Ideen for “Vettu hva?” ble foreslått av SINTEF, og ble videreutviklet i sammarbeid med en studentgruppe som en del av et kundestyrt fagprosjekt ved Norges teknisk-naturvitenskapelige universitet (NTNU). Studentene har implementert applikasjonen under veiledning av SINTEF.
    </p>

    <p>
      Applikasjonen er open source og kildekoden kan finnes på Github:</p>
      <ul class="bullet-list">
        <li>Frontend: <a href="#" ng-click="openUrl('https://github.com/RoarG/VettuHva-FrontEnd')">https://github.com/RoarG/Storytelling-FrontEnd</a></li>
        <li>Backend: <a href="#" ng-click="openUrl('https://github.com/ewolden/vettu-hva')">https://github.com/ewolden/vettu-hva</a></li>
      </ul>

      <p>Full oversikt og framgangsmåte for videre utvikling eller endring finner man på disse sidene.</p>



    <img class="about-logo-sintef" src='img/sintef-logo.jpg' width='200px'/> 
    <img class="about-logo-ntnu" src='img/logo_ntnu_u-slagord.png' width='200px'/> 
  </div>


  </ion-content>
</ion-view>


