<ion-view view-title="Takk Til">
    <ion-content>
        <div class="about">
            <p>
                <div>
                    <b>"Open Source" ? Åpen Kildekode</b>
                    Applikasjonen er utviklet med opensource komponenter og hele prosjektet kan man finne kildekode til her

                    Frontend: <a href="https://github.com/RoarG/Storytelling-FrontEnd">GitHub - Frontend</a>
                    Backend: <a href="https://github.com/ewolden/vettu-hva">GitHub - Backend</a>

                    Full oversikt og framgangsmåte for videre utvikling eller endring kan finner man på disse sidene.

                </div>
                <br>
                <br>
                <div>
                    <b>Digitalt Fortalt / Digitalt Musem</b>
                    Applikasjonen bruker digitalt museum sitt API for å hente fortellinger, og applikasjonen ønsker å vise fortellingen som den er presantert hos Digitalt fortalt sitt nettsted. <a href="http://www.digitaltfortalt.no">Dititalt Fortalt</a>
                </div>
                <br>
                <br>
                <div>
                    <b>ICONIC ?? Andre Ting?</b>
                </div>
                <br>
                <br>
                <div><b>Ikoner og andre Ressurser</b> <br>Noen ikoner er laget av <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> og lasted ned fra <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> og lisensert ved
                    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
                </div>
            </p>
        </div>
    </ion-content>
</ion-view>
