<ion-view view-title="Takk Til">
    <ion-content>
        <div class="about card">

            <h3>Digitalt Fortalt / Digitalt Musem</h3>
            <p>Applikasjonen bruker digitalt museum sitt API for å hente fortellinger, og applikasjonen ønsker å vise fortellingen som den er presantert hos Digitalt fortalt sitt nettsted. <a href="#" ng-click="openUrl('http://www.digitaltfortalt.no')">Digitalt Fortalt</a></p>

            <h3>Ikoner og andre Ressurser</h3>
             <p>Noen ikoner er laget av <a href="#" ng-click="openUrl('http://www.flaticon.com/authors/freepik')" title="Freepik">Freepik</a> og lasted ned fra <a href="#" ng-click="openUrl('http://www.flaticon.com')" title="Flaticon">www.flaticon.com</a> og lisensert ved
                <a href="#" ng-click="openUrl('http://creativecommons.org/licenses/by/3.0/')" title="Creative Commons BY 3.0">CC BY 3.0</a>
            </p>
        </div>
    </ion-content>
</ion-view>
