<div class="modal bookmark" ng-controller="BookmarkCtrl">
	<h2>Legg til bokmerke</h2>
	<div class="button button-clear button-calm" ng-click="closeModal()"><i class="icon ion-close"></i></div>
	<!-- Bookmark lists: checked off if a story has that bookmark -->
	<div class="list bookmark-content">
		<ion-scroll direction="y">
			<ion-checkbox class="checkbox-calm" 
			ng-repeat="item in collectionList" 
			ng-model="item.checked" 
			ng-checked="item.checked" 
			ng-click="toggleTag(item)" 
			ng-show="item.text == 'Les senere'">
				{{ item.text }}
			</ion-checkbox>
			<ion-checkbox class="checkbox-calm" 
			ng-repeat="item in collectionList" 
			ng-model="item.checked" 
			ng-checked="item.checked" 
			ng-click="toggleTag(item)" 
			ng-hide="item.text === 'Lest' || item.text === 'Historikk' || item.text === 'Les senere'">
				{{ item.text }}
			</ion-checkbox>
		</ion-scroll>

		<!-- Form to add a new bookmark list -->
		<form class="item" ng-submit="addItem()">
			<label class="item item-input item-floating-label">
				<i class="icon ion-plus placeholder-icon"></i>
				<input type="text" ng-model="newItemName" placeholder="Skrive inn ønsket navn">
			</label>
			<button class="button button-calm" type="submit">Legg til</button>
		</form>
		<p ng-show="saveStatus == 'saving'"><i class="ion-loading-a"></i> Lagrer endringer...</p>
			<p ng-show="saveStatus == 'saved'"><i class="ion-checkmark"></i> Lagret</p>
			<p ng-show="saveStatus == 'error'">Endringer ikke lagret.</p>
	</div>
</div>
