<ion-popover-view>
    <ion-content>
      <ion-list>
      	<ion-item ng-click="filterByCategory(0)">&lt;Ingen kategori&gt;</ion-item>
			  <ion-item ng-click="filterByCategory(1)">Kunst</ion-item>
			  <ion-item ng-click="filterByCategory(2)">Arkitektur</ion-item>
			  <ion-item ng-click="filterByCategory(3)">Arkeologi</ion-item>
			  <ion-item ng-click="filterByCategory(4)">Historie</ion-item>
			  <ion-item ng-click="filterByCategory(5)">Tradisjon & Mat</ion-item>
			  <ion-item ng-click="filterByCategory(6)">Natur</ion-item>
			  <ion-item ng-click="filterByCategory(7)">Litteratur</ion-item>
			  <ion-item ng-click="filterByCategory(8)">Musikk</ion-item>
			  <ion-item ng-click="filterByCategory(9)">Teknologi</ion-item>
			</ion-list>
    </ion-content>
</ion-popover-view>