<ion-view view-title="Interesser" ng-init="loadPreferences()">

	<ion-content hide-nav-bar="true" has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">

		<div class="list list-inset" id="view">
			
		<div class="content-wrapper">

			<div class="header-padding"></div>
			<h1 class="viewhead">Interesser</h1>
			
			<p class="infoText">Velg de kategoriene du ønsker å lese historier fra</p>

			<div  class="categories">
				<div class="category" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
				<div class="category-circle button" 
					ng-click="categories[i].isSelected = !categories[i].isSelected;selectedCategory(i)" 
					ng-class="{'category-circle-selected': categories[i].isSelected}">
					<i class="icon" ng-class="categories[i].icon"></i>
				</div>
				<small>{{categories[i].name}}</small>
			</div>
			<div class="clear-float"></div>
			</div>
		</div>

		<div class="skipContLogin">
            <button class="button button-calm settings-button-width" ng-click="updatePreferences()">Lagre</button>
            <p ng-show="preferencesSaved"><i class="ion-checkmark"></i> Lagret</p>
        </div> 
	</div>
	</ion-content>
</ion-view>