<ion-view view-title="listView">
  <ion-content>
    <!-- make a list to hold stories-->
    <ion-list class="item-text-wrap" can-swipe="true">
	  <!-- fill the list with all the stories fetched by the controller-->
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="story in storyPreviews" on-swipe-left="remove(story)" type="item-text-wrap" ng-click="open(story)">
        <!-- add the contents of each list element-->
		<img class="list-full-size" ng-src="{{story.thumbnail}}">
		<h2>{{story.title}}</h2>
		<!-- Truncate the description to a maximum of 100 characters -->
		<p>{{story.description | limitTo: 100}}{{story.description.length > 100 ? '...' : ''}}</p>
		<!-- add categories as their own lists on each story -->
		<ul class="list-horizontal list-cat-display" ng-repeat="category in story.categories" ng-switch on="category">
			<li class="list-cat-display" ng-switch-when="history"><i class="icon-history"></i>
			<li class="list-cat-display" ng-switch-when="nature and adventure"><i class="icon-nature"></i>
			<li class="list-cat-display" ng-switch-when="science and technology"><i class="icon-technology"></i>
			<li class="list-cat-display" ng-switch-when="art and design"><i class="icon-art"></i>
			<li class="list-cat-display" ng-switch-when="architecture"><i class="icon-architecture"></i>
			<li class="list-cat-display" ng-switch-when="local traditions and food"><i class="icon-tradition"></i>
			<li class="list-cat-display" ng-switch-when="music"><i class="ion-music-note"></i>
			<li class="list-cat-display" ng-switch-when="archeology"><i class="icon-archeology"></i>
			<li class="list-cat-display" ng-switch-when="literature"><i class="ion-ios-book"></i>
			
		</ul>
		<!-- add the reject button on the side that removes a story -->
		<ion-option-button class="button-assertive" ng-click="remove(story)">
			Reject
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>