<ion-view view-title="Login">

  
  <ion-content has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">
 
      
        <!-- <label class="item item-input">
          <span class="input-label">E-Post</span>
          <input type="text" ng-model="loginData.username">
        </label> -->

        <div class="list list-inset" id="view">

        <div class="header-padding"></div>
          <h1 class="viewhead">Innlogging</h1>

          <div class="loginContainer">
              <div class="infoText">Logg inn med eksisterende eller ny e-post addresse</div>
              <div class="innerContLogin">
                <label class="item item-input">
                  <input type="text" placeholder="E-Post" ng-model="user.email"> 
                </label>
                <button class="button button-block button-calm" ng-click="doLogin(user.email)">Logg inn</button>
              </div>
          </div>
    

          <div class="bottomContLogin">
            <div class="skipContLogin">
              <div class="infoText">Ved å hoppe over innlogingen vil preferansene dine KUN være koblet til denne enheten</div>
               <div class="innerContLogin">

                <!-- TODO: Set opp bruker med tom e-post adresse -->
                <a href="" ng-click="closeLogin()" id="skipLogin">Hopp over dette steget</a>
              </div>
            </div>
      
        <!-- Place the step x of y circle here -->
              <div class="pageIndicatorContLogin">
                <i class="ion-ios-circle-filled"></i>
                <i class="ion-ios-circle-outline"></i>
                <i class="ion-ios-circle-outline"></i>
              </div>
          </div>
  
  </ion-content>
</ion-view>
