<ion-view view-title="Login">

  
  <ion-content has-header="false" hide-nav-bar="true" padding="true" has-tabs="false" scroll="false">
 
        <div class="header-padding"></div>
        <div class="topCont">

          <h1 class="viewhead">Innlogging</h1>
            <div class="mainCont">
              <div class="loginContainer">
                  <div class="infoText">Logg inn med eksisterende eller ny e-post addresse</div>
                    <div class="innerContLogin">
                      <label class="item item-input">
                        <input  name="email" 
                                type="email" 
                                placeholder="E-Post" 
                                ng-model="user.email"
                                pattern =
                                ng-model-option ="{ getterSetter: true }" /> 
                      </label>
                      <button class="button button-block button-calm" ng-click="doLogin(user.email)">Logg inn</button>
                    </div>
              </div>
            </div>
        </div>

        <div class="bottomCont">
          <div class="bottomCont2">
            <div class="button-cont">
                <div class="infoText">Ved å hoppe over innlogingen vil preferansene dine KUN være koblet til denne enheten</div>
              <a href="" ng-click="closeLogin()" id="skipLogin">Hopp over dette steget</a>
        
              <!-- Place the step x of y circle here -->
                <div class="pageIndicatorContLogin">
                  <i class="ion-ios-circle-filled"></i>
                  <i class="ion-ios-circle-outline"></i>
                  <i class="ion-ios-circle-outline"></i>
                </div>
            </div>
          </div>
        </div>
  </ion-content>
</ion-view>
