<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-calm" align-title="center">
            <ion-nav-back-button ng-click="myGoBack()">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button ng-click="updateMenu()" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- UI-Router -->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-calm" align-title="center">
            <p class="title">Meny</p>
        </ion-header-bar>
        <ion-content>
        <div ng-if="displayNotificationHint" class="hintText"><i class="icon ion-close" ng-click="closeHint()"></i><p>Noen historier du har lest mangler vurdering</p></div>
            <ion-list>

                <!-- Main Section -->
                <ion-item id="home" nav-clear menu-close ui-sref="app.recommendations">
                    <b>Anbefalte fortellinger</b>
                </ion-item>
                <ion-item id="itemWithHint"nav-clear menu-close ng-click="viewNotifications()">
                    <!-- TODO: Åpne not rated liste -->
                    <span class="hint">Venter på vurdering</span><span ng-if="notificationsCount" class="badge badge-assertive">{{notificationsCount}}</span>
                </ion-item>
                <ion-item nav-clear menu-close ng-click="goSettings()">
                    Innstillinger
                </ion-item>
                </ion-item>

                <!-- Bookmarks Section -->
                <ion-item class="item item-divider" ng-click="toggleBookmarksGroup(group)" ng-class="{active: isBookmarksGroupShown(group)}">
                    <b>Mine Bokmerker</b>
                    <i class="icon" ng-class="isBookmarksGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                </ion-item>
                <ion-item class="bookmark-list item-button-right" nav-clear ng-repeat="list in userMadeLists">
                    <div class="item-content" ng-click="viewList(list.text)" ng-show="isBookmarksGroupShown(group)" menu-close> {{list.text}}</div>
                    <!-- The delete button is only displayed on user made bookmark lists -->
                    <button class="button button-clear" ng-click="deleteList(list)">
                        <i class="icon ion-close"></i>
                    </button>
                </ion-item>

                <!-- Historikk Section -->
                <ion-item class="item item-divider" ng-click="toggleHistoryGroup(group)" ng-class="{active: isHistoryGroupShown(group)}">
                    <b>Historikk</b>
                    <i class="icon" ng-class="isHistoryGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                </ion-item>
                <ion-item class="bookmark-list item-button-right" nav-clear ng-repeat="list in defaultLists">
                    <div class="item-content" ng-click="viewList(list.text)" ng-show="isHistoryGroupShown(group)" menu-close> {{list.text}}</div>
                </ion-item>

                <!-- Infomation Section -->
                <ion-item class="item item-divider" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                    <b>Informasjon</b>
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                </ion-item>
                <ion-item class="item-accordion" nav-clear menu-close ng-click="goAppOne()" ng-show="isGroupShown(group)">
                    Appen på 1,2,3
                </ion-item>
                <ion-item class="item-accordion" nav-clear menu-close ng-click="goAbout()" ng-show="isGroupShown(group)">
                    Om applikasjonen
                </ion-item>
                <ion-item class="item-accordion" nav-clear menu-close ng-click="goAcknowledgment()" ng-show="isGroupShown(group)">
                    Takk til
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
