<ion-view view-title="Onboarding">
		<ion-content has-header="false" hide-nav-bar="true" has-tabs="false" scroll="false">
				<!-- TopContainer -->
				<div class="topCont">
						<div class="onboardCont">
								<!-- ImageContainer -->
								<div class="onboardTree"></div>
						</div>
						<!-- TextContainer -->
						<div class="bottomCont">
								<div class="onboradText">
										<h1 class="onboardHead">Finn fortellinger</h1>
										<div class="onboardInfoText">
												<p class="infoText">Utforsk fortellingene ved å lese, lytte på lydklipp og se på videoer. Vurder fortellingene slik at vi kan gi deg enda bedre anbefalinger. </p>
										</div>
								</div>
								<!-- BottomContainer -->
								<div class="bottomCont2">
										<div class="button-cont">
												<!-- Button -->
												<button class="button button-block button-calm" ng-click="goLogin()">Innlogging</button>
												<!-- TODO: Skal bare legge inn her for å hoppe over login? Demo mode= -->
												<div id="skipCont">
												 <a href="" ng-click="goLogin()" id="skipLogin"></a>
												</div>
										</div>
								</div>
						</div>
		</ion-content>
</ion-view>
