<ion-view view-title="Onboarding" ng-controller="IntroCtrl">

  <ion-content has-header="false" hide-nav-bar="true" has-tabs="false" scroll="false">

          <!-- TopContainer -->
        <div class="topCont">
          <div class="onboardCont">
              <!-- ImageContainer -->
            <div class="onboardTwo"></div>
          </div>
            

          <!-- TextContainer -->
          <div class="bottomCont">
            <div class="onboardText">
              <h1 class="onboardHead">Hvem er du?</h1>
              <div class="onboardInfoText">
                <div class="infoText">Opprett en bruker og fortell oss dine interesser, og vi vil finne fortellinger vi tror du vil like.</div>
              </div>
            </div>

        <!-- BottomContainer -->
          <div class="bottomCont2">
            <div class="button-cont">
                        
              <!-- Button -->
              <button class="button button-block button-calm" ng-click="goOnboardTree()">Neste</button>

              <div id="skipCont">
              <!-- Skip -->
                <a href="" ng-click="goLogin()" id="skipLogin">Gå til innlogging</a>
              </div>
            </div>
          </div>  

            <!-- Place the step x of y circle here -->
             <!--  <div class="pageIndicatorContLogin">
                <i class="ion-ios-circle-filled"></i>
                <i class="ion-ios-circle-outline"></i>
                <i class="ion-ios-circle-outline"></i>
              </div> -->
        </div>
  
  </ion-content>
</ion-view>
