<ion-view view-title="Onboarding">

  
  <ion-content has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">
 
        <div class="list list-inset" id="view">

        <div class="header-padding"></div>
      
            <div class="mainCont">

            <h2 class="onboardHead">La oss begynne!</h2>

              <div class="loginContainer">
                  <div class="infoText">Finn en historie som du synes ser interesang ut, eller lagre historien for å lese den senere...</div>
                    <div class="innerContLogin">
                      <!-- TODO: NESTE SIDE -->
                    </div>
              </div>
            </div>


          <div class="navIndicator">
            <div class="button-cont">
                <button class="button button-block button-calm" ng-click="">Neste</button>
              

              <!-- TODO: Sett inn funksjon til å gå til innloging -->
            <a href="" ng-click="goLogin()" id="skipLogin">Gå til innlogging</a>
            </div>
      
            <!-- Place the step x of y circle here -->
              <div class="pageIndicatorContLogin">
                <i class="ion-ios-circle-filled"></i>
                <i class="ion-ios-circle-outline"></i>
                <i class="ion-ios-circle-outline"></i>
              </div>
          </div>  
  
  </ion-content>
</ion-view>
