<ion-view view-title="Onboarding">
  
  <ion-content has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">
 
    <div class="list list-inset" id="view">

      <div class="header-padding"></div>
            
        <div class="mainCont">
                  
            <!-- ImageContainer -->
          <div class="onboardCont">
            <div class="onboardTree"></div>
          </div>

          <!-- TextContainer -->
          <div class="onboradText">
            <h1 class="onboardHead">Finn Historier</h1>
            <div class="onboradInfoText">
              <div class="infoText">Les, lytt og se på historier fra nettstedet Digital Fortalt. Gi tilbakemelding slik at forslagene vil bli mer tilpasset akkurat deg!</div>
            </div>
          </div>

        </div>
        
        <div class="navIndicator">
          <div class="button-cont">
            
            <!-- Button -->
            <button class="button button-block button-calm" ng-click="goLogin()">Start</button>

              <!-- TODO: Skal bare legge inn her for å hoppe over login? Demo mode= -->
            <!-- Skip -->
            <a href="" ng-click="goLogin()" id="skipLogin">Gå til innlogging</a>
      
            <!-- Place the step x of y circle here -->
              <div class="pageIndicatorContLogin">
                <i class="ion-ios-circle-filled"></i>
                <i class="ion-ios-circle-outline"></i>
                <i class="ion-ios-circle-outline"></i>
              </div>
          </div>  
        </div>
  </ion-content>
</ion-view>
