<ion-modal-view>
	<ion-header-bar>
	</ion-header-bar>
	<ion-content class="preferences">
		<div class="content-wrapper">
		<h2>Hva er du interessert i?</h2>
		<p>Velg de kategoriene du ønsker å lese historier fra</p>

			<div  class="categories">
				<div class="category" ng-repeat="i in [0,1,2,3,4,5,6,7,8]">
				<div class="category-circle button" ng-click="chosenPreferences[i] = !chosenPreferences[i]" ng-class="{'button-calm': chosenPreferences[i]}"><i class="icon" ng-class="catIcons[i]"></i></div>
				<small>Tekst</small>
			</div>
			</div>
		
		<div class="row">
			<div class="col button button-calm">Tilbake</div>
			<div class="col button button-calm" ng-click="submitPreferences()">Neste</div>
		</div>
	</div>
	</ion-content>
</ion-modal view>