<ion-view view-title="Preferences">

	<ion-content hide-nav-bar="true" has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">

		<div class="list list-inset" id="view">
			
		<div class="content-wrapper">

			<div class="header-padding"></div>
			<h1 class="viewhead">Kategorier</h1>
			
			<p class="infoText">Velg de kategoriene du ønsker å lese historier fra</p>

			<div  class="categories">
				<div class="category" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
				<div class="category-circle button" 
					ng-click="categories[i].isSelected = !categories[i].isSelected;selectedCategory(i)" 
					ng-class="{'button-calm': categories[i].isSelected}">
					<i class="icon" ng-class="categories[i].icon"></i>
				</div>
				<small>{{categories[i].name}}</small>
			</div>
			<div class="clear-float"></div>
			</div>
		</div>

		<div class="navIndicator">
		   	<div class="button-cont">
          		<button class="button button-light" id="nav-button1" ng-click="goProfile()">Forrige</button>
	            <button class="button button-calm" id="nav-button2" ng-click="savePreferences()">Neste</button>
       		</div>
         

         	<div class="pageIndicatorContLogin">
                <i class="ion-ios-circle-filled"></i>
                <i class="ion-ios-circle-filled"></i>
                <i class="ion-ios-circle-filled"></i>
            </div>
		</div>
	</div>
	</ion-content>
</ion-view>