<ion-view view-title="Profile">
  <ion-content hide-nav-bar="true">

      
        
        <div class="list list-inset" id="view">

          <h1 class="viewhead">Profil</h1>

          <div class="topContProfile">
              <div class="infoText">Velg aldersgruppe og kjønn for at vi skal kunne gi deg bedre anbefallinger</div>
              
              <h2 id="profile-h2">Alder</h2>
              <div class="button-bar">
              <!-- Uses the sam setup as in story.html ref. copy here -->
                <a class="button button-light" ng-class="{'active': ageGrp === 1}" ng-click="ageGrp = 1">Under 20</a>
                <a class="button button-light" ng-class="{'active': ageGrp === 2}" ng-click="ageGrp = 2">21 - 45</a>
                <a class="button button-light" ng-class="{'active': ageGrp === 3}" ng-click="ageGrp = 3">46 - 65</a>
                <a class="button button-light" ng-class="{'active': ageGrp === 4}" ng-click="ageGrp = 4">Over 66</a>
              </div>

      
          </div>

            <div class="bottomContProfile">
              
              <h2 id="profile-h2">Kjønn</h2>
              <div class="button-bar">              <!-- Uses the sam setup as in story.html ref. copy here -->
                <a class="button button-light" ng-class="{'active': sex === 1}" ng-click="sex = 1">Mann</a>
                <a class="button button-light" ng-class="{'active': sex === 2}" ng-click="sex = 2">Kvinne</a>
              </div>

            </div>

          <div class="navIndicator">
            <div class="button-cont">
               <button class="button button-light" id="nav-button1" ng-click="goLogin()">Forrige</button>
               <button class="button button-calm" id="nav-button2" ng-click="goPref()">Neste</button>
            </div>
      
        <!-- Place the step x of y circle here -->
              <div class="pageIndicatorContLogin">
                <i class="ion-ios-circle-filled"></i>
                <i class="ion-ios-circle-filled"></i>
                <i class="ion-ios-circle-outline"></i>
              </div>
              
          </div>  


  </ion-content>

</ion-view>