<div class="modal rating-modal" ng-controller="RatingCtrl">
    		<div class="rating-content">
        	<h2>Likte du denne fortellingen?</h2>
        	<i class="icon ion-android-star star" ng-class="{filled: i <= story.rating}" ng-repeat="i in [1,2,3,4,5]" ng-click="rateFunction(i)"></i>
        	<p class="calm" ng-show="ratingStatus.valueOf() == 'notRated'.valueOf()"> Gi den stjerner</p>
        	<p class="calm" ng-show="ratingStatus.valueOf() === 'rating'"> <i class="icon ion-loading-a"></i></p>
        	<p class="calm" ng-show="ratingStatus.valueOf() === 'rated'"><i class="ion-checkmark"></i> Lagret</p>
        	<button class="button button-calm button-block" ng-click="closeModal()">Ferdig</button>
      </div>
</div>