<ion-view class="recommendations" view-title="Anbefalte fortellinger">
    <ion-nav-buttons side="right"> 
        <button class="button button-icon ion-android-bookmark" ng-click="showModal('templates/bookmark-modal.html')"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
       <ion-slide-box active-slide="activeSlide" show-pager="false" on-slide-changed="slideChanged()">
            <ion-slide ng-repeat="story in stories">
                <div class="card">
                    <div class="reject-story-icon" ng-click="rejectStory($index)"><i class="ion-close-round"></i></div>
                    <div class="image-wrapper" ng-click="openStory(story)">
                        <img ng-src={{story.imageList[0]}}>
                    </div>

                    <div class="content-wrapper" ng-click="openStory(story)">
                        <div class="recom-story-categories">
                            <ul ng-repeat="category in story.categoryList" class="recom-category-circle" ng-switch on="category">
                                <li class="list-cat-display" ng-switch-when="history"><i class="icon-history"></i>
                                <li class="list-cat-display" ng-switch-when="nature and adventure"><i class="icon-nature"></i>
                                <li class="list-cat-display" ng-switch-when="science and technology"><i class="icon-technology"></i>
                                <li class="list-cat-display" ng-switch-when="art and design"><i class="icon-art"></i>
                                <li class="list-cat-display" ng-switch-when="architecture"><i class="icon-architecture"></i>
                                <li class="list-cat-display" ng-switch-when="local traditions and food"><i class="icon-tradition"></i>
                                <li class="list-cat-display" ng-switch-when="music"><i class="ion-music-note"></i>
                                <li class="list-cat-display" ng-switch-when="archeology"><i class="icon-archeology"></i>
                                <li class="list-cat-display" ng-switch-when="literature"><i class="ion-ios-book"></i>
                            </ul>
                            <ul class="recom-category-circle media-icons">
                                <li ng-if="story.videoList.length > 0"><i class="ion-social-youtube"></i></li>
                            </ul>
                            <ul class="recom-category-circle media-icons">
                                <li ng-if="story.audioList.length > 0"><i class="ion-volume-medium"></i></li>
                            </ul>
                            <ul class="recom-category-circle media-icons">
                                <li ng-if="story.imageList"><i class="ion-image"></i></li>
                            </ul>
                        </div>
                        <h2>{{story.title}}</h2>
                        <span class="small-text">{{story.author.join(", ")}}</span>
                        <!--<p>{{story.introduction | limitTo: 150}}{{story.introduction.length > 150 ? '...' : ''}}</p>-->
                        <p>{{story.introduction}}</p>
                        <div class="fade-box">
                            <!--<div class="button button-calm button-block" ng-click="openStory(story)">Les mer</div>-->
                        </div>
                    </div>
                </div>
                <div class="slide-nav slide-nav-left" ng-click="previousSlide()" ng-hide="$index === 0"><i class="ion-chevron-left"></i></div>
                <div class="slide-nav slide-nav-right" ng-click="nextSlide()" ng-hide="$index === stories.length-1"><i class="ion-chevron-right"></i></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>