<ion-view class="recommendations" view-title="Anbefalte fortellinger">
    <ion-nav-buttons side="right"> 
        <button class="button button-icon ion-ios-bookmarks" ng-click="showModal('templates/bookmark-modal.html')"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
       <ion-slide-box active-slide="activeSlide" show-pager="false" on-slide-changed="slideChanged($index)">
            <ion-slide ng-repeat="story in storyPreviews">
                <div class="card">
                    <!--<div class="reject-story-icon" ng-click="rejectStory($index)"><i class="ion-close-round"></i></div>-->
                    <div class="image-wrapper" ng-click="openStory(story)">
                        <img class="cover-image" ng-src={{story.picture}}>
                        <div class="cover-image" ng-if="!story.picture"><i class="ion-image"></i></div>
                    </div>

                    <div class="content-wrapper" ng-click="openStory(story)">
                        <div class="recom-story-categories">
                            <ul ng-repeat="category in story.categories" class="recom-category-circle" ng-switch on="category">
                                <li class="list-cat-display cat-1" ng-switch-when="1"><i class="icon-art"></i></li>
                                <li class="list-cat-display cat-2" ng-switch-when="2"><i class="icon-architecture"></i></li>
                                <li class="list-cat-display cat-3" ng-switch-when="3"><i class="ion-archeology"></i></li>
                                <li class="list-cat-display cat-4" ng-switch-when="4"><i class="icon-history"></i></li>
                                <li class="list-cat-display cat-5" ng-switch-when="5"><i class="icon-tradition"></i></li>
                                <li class="list-cat-display cat-6" ng-switch-when="6"><i class="icon-nature"></i></li>
                                <li class="list-cat-display cat-7" ng-switch-when="7"><i class="ion-ios-book"></i></li>
                                <li class="list-cat-display cat-8" ng-switch-when="8"><i class="ion-music-note"></i></li>
                                <li class="list-cat-display cat-9" ng-switch-when="9"><i class="ion-gear-b"></i></li>
                            </ul>
                            <ul class="recom-category-circle media-icons">
                                <li ng-if="story.mediaType.indexOf('video') !== -1"><i class="ion-social-youtube"></i></li>
                            </ul>
                            <ul class="recom-category-circle media-icons">
                                <li ng-if="story.mediaType.indexOf('audio') !== -1"><i class="ion-volume-medium"></i></li>
                            </ul>
                            <ul class="recom-category-circle media-icons">
                                <li ng-if="story.mediaType.indexOf('picture') !== -1"><i class="ion-image"></i></li>
                            </ul>
                        </div>
                        <h2>{{story.title}}</h2>
                        <span class="small-text">{{story.author.join(", ")}}</span>
                        <!--<p>{{story.introduction | limitTo: 150}}{{story.introduction.length > 150 ? '...' : ''}}</p>-->
                        <p>{{story.description}}</p>
                        <div class="fade-box">
                            <!--<div class="button button-calm button-block" ng-click="openStory(story)">Les mer</div>-->
                        </div>
                    </div>
                </div>
                <div class="slide-nav slide-nav-left" ng-click="previousSlide()" ng-hide="$index === 0"><i class="ion-chevron-left"></i></div>
                <div class="slide-nav slide-nav-right" ng-click="nextSlide()" ng-hide="$index === storyPreviews.length-1"><i class="ion-chevron-right"></i></div>
                <p ng-if="story.explanation" class="recommExplanation">Denne historien ble anbefalt fordi du så på historiene <a href="" ng-click="openStoryLink(story.explanation[0])">{{story.explanation[0]}}</a>, <a href="" ng-click="openStoryLink(story.explanation[1])">{{story.explanation[1]}}</a> og <a href="" ng-click="openStoryLink(story.explanation[2])">{{story.explanation[2]}}</a></p>
                <p>
                <p ng-if="story.false_recommend === 1" class="recommExplanation">Dette er en historie utenfor dine registrerte interesser</p>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>