<ion-view class="recommendations" view-title="Anbefalte fortellinger">
    <ion-nav-buttons side="right"> 
        <button class="button button-icon ion-android-bookmark" ng-click="showModal('templates/bookmark-modal.html')"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
       <ion-slide-box show-pager="false">
            <ion-slide ng-repeat="story in stories">
                <div class="card" ng-click="openStory(story)">
                    <div class="reject-story-icon" ng-click="rejectStory()"><i class="ion-close-round"></i></div>
                    <div class="image-wrapper">
                        <img ng-src={{story.imageList[0]}}>
                    </div>
                    <div class="content-wrapper">
                        <h2>{{story.title}}</h2>
                        <span class="small-text">{{story.author.join(", ")}}</span>
                        <!--<p>{{story.introduction | limitTo: 150}}{{story.introduction.length > 150 ? '...' : ''}}</p>-->
                        <p>{{story.introduction}}</p>
                        <div class="fade-box">
                            <div class="button button-calm button-block" ng-click="openStory(story)">Les mer</div>
                        </div>
                    </div>
                </div>
                <div class="slide-nav slide-nav-left" ng-click="previousSlide()" ng-hide="$index === 0"><i class="ion-chevron-left"></i></div>
                <div class="slide-nav slide-nav-right" ng-click="nextSlide()" ng-hide="$index === stories.length-1"><i class="ion-chevron-right"></i></div>
            </ion-slide>
        </ion-slide-box>
        
    </ion-content>
</ion-view>