<ion-view view-title="Innstillinger">
  <ion-content>
    <!-- make a list of settings-->
	<ion-list>
	  <!-- fill the list with dividers and elements -->
	  <ion-item class="item item-divider">
		<b>Profil</b>
	  </ion-item>
	  
	  <ion-item href="#/app/editProfile">
		<div class="settings-left-adjust">Kjønn / Aldersgruppe</div>
		<i class="icon ion-chevron-right settings-right-adjust"></i>
	  </ion-item>
	  
	  <ion-item>
		<div class="settings-left-adjust">Email</div>
		<button class="button button-calm button-small settings-right-adjust" ng-click="saveEmail(user.email)">Lagre</button>
		<label class="item item-input settings-right-adjust settings-height">
            <input type="text" placeholder={{email}} ng-model="user.email">
        </label>
        <p ng-show="emailSaved"><i class="ion-checkmark"></i> Lagret</p>
	  </ion-item>
	  
	  <ion-item ng-click="retrieveUser()" href="#/app/editPreferences">
		<div class="settings-left-adjust">Interesser</div>
		<i class="icon ion-chevron-right settings-right-adjust"></i>
	  </ion-item>
	  
	  <!--
	  <ion-item class="item item-divider">
		<b>Tillatelser</b>
	  </ion-item>
	  
	  <ion-item>
		<div class="settings-left-adjust">Bruk posisjon</div>
		<label class="toggle settings-right-adjust" >
			<input type="checkbox">
			<div class="track">
				<div class="handle"></div>
			</div>
		</label>
	  </ion-item>
	  -->
	  
	  <ion-item class="item item-divider">
		<b>Informasjon</b>
	  </ion-item>
	  
	  <ion-item href="#/app/about">
		<div class="settings-left-adjust">Om applikasjonen </div>
		<i class="icon ion-chevron-right settings-right-adjust"></i>
	  </ion-item>
<!--	  
	  <ion-item>
		<div class="settings-left-adjust">Hjelp </div>
	  </ion-item>
	</ion-list>

  </ion-content>
</ion-view>
-->