<ion-view view-title="Innstillinger">
    <ion-content overflow-scroll="true" class="settings">

        <!-- make a list of settings-->
        <ion-list>
            <!-- fill the list with dividers and elements -->
            <ion-item class="item item-divider">
                <b>Profil</b>
            </ion-item>
            <ion-item href="#/app/editProfile">
                <div class="settings-left-adjust">Kjønn / Aldersgruppe</div>
                <i class="icon ion-chevron-right settings-right-adjust"></i>
            </ion-item>
            <ion-item ng-click="retrieveUser()" href="#/app/editPreferences">
                <div class="settings-left-adjust">Interesser</div>
                <i class="icon ion-chevron-right settings-right-adjust"></i>
            </ion-item>
            <form ng-submit="saveEmail(email)">
                <label class="item item-input">
                    <span class="input-label" id="spanMail">E-post</span>
                    <input type="email" name="email" id="inputMail" placeholder="email@hotmail.com" ng-model="email">
                    <div class="iconCont">
	               		<p ng-show="savingMailStatus.valueOf() === 'saving'"><i class="icon ion-loading-a"></i></p>
	                	<p ng-show="savingMailStatus.valueOf() === 'saved'"><i class="ion-checkmark-round"></i></p>
	                	<p ng-show="savingMailStatus.valueOf() === 'failed'"><i class="ion-close-round"></i></p>
                    </div>
                    	
                </label>
            </form>
            <ion-item nav-clear menu-close ng-click="logout()">
                Logg ut
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
