<ion-view view-title="" class="story" ng-controller="StoryCtrl">
    <ion-nav-buttons side="right"> 
        <button class="button button-icon ion-android-star" ng-click="showModal('templates/rating.html')"></button>
        <button class="button button-icon ion-ios-bookmarks" ng-click="showModal('templates/bookmark-modal.html')"></button>
    </ion-nav-buttons>
    <ion-content class="story">
        <div id="story-header-container">
            <img ng-if="story.imageList" ng-src={{story.imageList[0]["imageurl"]}} alt="" class="story-header-image" />
            <img ng-if="!story.imageList && story.videoList[0]" class="story-header-image" ng-src={{story.videoList[0]['posterurl']}} />
            <div ng-if="!story.imageList && !story.videoList[0]" class="story-header-image"></div>
        </div>
        <div class="story-introduction card">
            <h2>{{story.title}}</h2>
            <div class="clear-float"></div>
            <span class="small-text author">{{story.author.join(", ")}}</span>
            <p>{{story.introduction}}</p>
            <div class="story-categories">
                <div ng-repeat="category in story.categoryList" class="category-circle" ng-switch on="category">
					<li class="list-cat-display cat-1" ng-switch-when="1"><i class="icon-art"></i></li>
                    <li class="list-cat-display cat-2" ng-switch-when="2"><i class="icon-architecture"></i></li>
                    <li class="list-cat-display cat-3" ng-switch-when="3"><i class="icon-archeology"></i></li>
                    <li class="list-cat-display cat-4" ng-switch-when="4"><i class="icon-history"></i></li>
                    <li class="list-cat-display cat-5" ng-switch-when="5"><i class="icon-tradition"></i></li>
                    <li class="list-cat-display cat-6" ng-switch-when="6"><i class="icon-nature"></i></li>
                    <li class="list-cat-display cat-7" ng-switch-when="7"><i class="ion-ios-book"></i></li>
                    <li class="list-cat-display cat-8" ng-switch-when="8"><i class="ion-music-note"></i></li>
                    <li class="list-cat-display cat-9" ng-switch-when="9"><i class="ion-gear-b"></i></li>
                </div>
            </div>
        </div>
        <!-- Media menubar -->
        <div class="button-bar">
            <a class="button button-light" ng-class="{active: mediaType === 'video'}" ng-show="story.videoList[0]" ng-click="mediaType = 'video'">Video</a>
            <a class="button button-light" ng-class="{active: mediaType === 'audio'}" ng-show="story.audioList[0]" ng-click="mediaType = 'audio'">Lydklipp</a>
            <a class="button button-light" ng-class="{active: mediaType === 'images'}" ng-show="story.imageList[0]" ng-click="mediaType = 'images'">Bilder</a>
        </div>
        <!-- Images, video or sound displayed depending on which button in the menubar is active -->
        <ion-scroll class="media-content" direction="x" delegate-handle="horizontal" zooming="false">
            <div ng-if="mediaType === 'images'">
                <div class="story-image-container" ng-repeat="image in story.imageList">
                    <img ng-src={{image["imageurl"]}} ng-click="showImages($index)" alt="" class="image-list-thumb"/>
                </div>
            </div>
            <div ng-if="mediaType === 'video'">
                <div class="video-player" ng-repeat="video in story.videoList">
                    <!--Youtube or vimeo video-->
                    <iframe style='background: black;' ng-if="video['videourl'].indexOf('.mp4') === -1"frameborder="0"></iframe>
                   <!--  <iframe id="{{'Video' + $index}}" ng-if="video['videourl'].indexOf('.mp4') === -1"frameborder="0" ng-src="{{getTrustedUrl(video['videourl'])}}" webkitallowfullscreen mozallowfullscreen allowfullscreen webkit-playsinline="false" ng-click="playVideo($index)">
                    </iframe> -->
                    <!-- mp4 video -->
                    <video id="{{'Video' + $index}}" controls="true" poster={{video['posterurl']}} ng-if="video['videourl'].indexOf('.mp4') !== -1" ng-src="{{getTrustedUrl(video['videourl'])}}"></video>

                    <div class="play-button" id="play" ng-if="video['videourl'].indexOf('.mp4') === -1" ng-click="openUrl(video['videourl'])">
                        <i class="icon ion-play"></i>
                    </div>
                    <div class="play-button" id="play" ng-if="video['videourl'].indexOf('.mp4') !== -1" ng-click="playVideo($index)">
                        <i class="icon ion-play"></i>
                    </div>
                    <p>{{video['description']}}</p>
                </div>
            </div>
            <div  ng-if="mediaType === 'audio'">
                <div class="audio-container" ng-repeat="audio in story.audioList">
                    <i ng-hide="isAudioPlaying" class="icon ion-play" ng-click="playAudio(audio['audiourl'])"></i>
                    <i ng-show="isAudioPlaying" class="icon ion-pause" ng-click="pauseAudio(audio['audiourl'])"></i>
                     <input type="range" name="podcast-position" min="0" max="{{audioFiles[audio['audiourl']][0].getDuration()}}" ng-model="audioFiles[audio['audiourl']][1]" ng-change="sliderPositionChange(audio['audiourl'])"> 
                </div>
                <!--<audio controls preload="auto" controls="false" ng-click="playAudio(audio['audiourl'])">
                    <source ng-src="{{getTrustedUrl(audio['audiourl'])}}" type="audio/mpeg"/>
                    Your browser does not support the audio element.
                </audio>
                <p>{{audio['description']}}</p>-->
                </div>
            </div>
        </ion-scroll>
        <div ng-if="story.text" class="story-wrapper card">
            <p class="clear-float" ng-bind-html="story.text" ng-click="onclickStoryContent($event)"></p>
        </div>

            <div class="story-footer clear-float">
            <div class="rating" ng-controller="RatingCtrl">
                <p>Likte du denne historien?</p>
                <i class="icon ion-android-star star" ng-class="{filled: i <= story.rating}" ng-repeat="i in [1,2,3,4,5]" ng-click="rateFunction(i)"></i>
                <p ng-show="ratingStatus.valueOf() === 'rating'"> <i class="icon ion-loading-a"></i></p>
                <p ng-show="ratingStatus.valueOf() === 'rated'"><i class="ion-checkmark"></i> Lagret</p>

            </div>
            <h3 ng-if="story.municipality">Sted</h3>
            <span>{{story.municipality}}</span>
            <h3 ng-if="story.county">Fylke</h3>
            <span>{{story.county}}</span>
            <h3 ng-if="story.institution">Institusjon</h3>
            <span>{{story.institution}}</span>
            <p><a href="#" ng-click="openUrl(story.url)">Les historien på Digitalt Fortalt</a></p>
        </div>
    </ion-content>
</ion-view>