<ion-view view-title="Log in">
  <ion-content class="padding">
	
	<div class="card gray">
	

		<div class="logo-text-body">
			<br>
			<center> Sign in to be able to retrieve	<br> your stories from other <br> devices. </center>
			<br>
		</div>
		
		<div class="hor-padding2">
			<div class="list">

			  <div class="item item-input-inset gray">
				<label class="item-input-wrapper thinBorder">
				  <input type="text" placeholder="Email">
				</label>
			  </div>

			</div>
		</div>
		
		<div class="hor-padding">
			<center>
				<button class="button button-block button-stable">
					<b>Sign in</b>
				</button>
			</center>
		</div>
		
		<div class="logo-text-body">
			<br>
			<center> Or you can try it out first and <br> sign up later. </center>
			<br>
		</div>
		
		<div class="hor-padding">
			<center>
				<button class="button button-block button-stable">
					<b>Skip</b>
				</button>
			</center>
		</div>
		

	</div>

  </ion-content>
</ion-view>
