<ion-view view-title="Chats">
  <ion-content>
    <ion-list class="item-text-wrap" can-swipe="true">
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="chat in chats" on-swipe-left="remove(chat)" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
		<img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
		<!-- for left side text, use <p class="text-width">{{chat.lastText}}</p> -->
        <p>{{chat.lastText}}</p>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
			Reject
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
