body {
  font-family: "Cabin", sans-serif;
  color: $font-color;
}

ion-content {
	background-color: $background-color;
}

.popover, .list, ion-item, .item, .item-complex .item-content {
	background-color: $background-color;
}

h1, h2, h3 {
	font-family: 'Lobster', cursive;
	color: $contrast-color-dark;
}

h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 3% 0;
    line-height: 1.5em;
}

.small-text {
	color: $background-color-dark;
	font-size: 0.8em;
	font-weight: 300;
	font-style: italic;
}