/*
	Styles for items used in multiple views

 */

body {
  font-family: "Cabin", sans-serif;
  color: $font-color;
}

ion-content, .view, .popover, .list, .item-divider {
	background-color: $background-color;
}

.item {
	background-color: white;
	//border-color: desaturate(darken($background-color, 10%), 10%);
	border-color: #E9E9E9;
}

.card {
	margin: 8px 10px;
	border: none;
}

input::-webkit-input-placeholder {
	color: desaturate(darken($background-color, 25%), 40%);
}

input[type="text"] {
	font-family: "Cabin", sans-serif;
	color: $font-color;
}


h1, h2, h3 {
	font-family: 'Lobster', cursive;
	color: $contrast-color-dark;
}

h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.35em;
	@include mq(medium) {
    	font-size: 1.8em;
    }
    
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 3% 0;
    line-height: 1.5em;
}

.small-text {
	color: $small-text-color;
	font-size: 0.8em;
	font-weight: 300;
	font-style: italic;
}