body {
  font-family: "Helvetica Neue", Roboto, "Droid Sans", sans-serif;
  color: $font-color;
}

ion-content {
	background-color: $background-color;
}

.popover, .list, ion-item, .item, .item-complex .item-content {
	background-color: $background-color;
}


h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 3% 0;
}

.small-text {
	color: $small-text-color;
	font-size: 0.8em;
}