/*
	Contains variables for colors and mixin for media queries. 
 */

// Colors
$font-color: #583318;
$small-text-color: desaturate(lighten($font-color, 35%), 30%);
$link-color: #8fe3ff;
$primary-color: #249c9c;
$primary-color-dark: #35647E;
$primary-color-light: #BFEBEB;
$contrast-color: #eb6963;
$contrast-color-dark: #583318;
$contrast-color-light: #FFBDBA;
$background-color: #FFF9EE;
$background-color-dark: #C2B2A7;

$category-colors: #FD9CC4, #EEAFFA, #B0BEFA, #AFE1FA, #AFFAEE, #D5FAAF, #FAEEAF, #FAD5AF, #FABCAF;

// Override ionic
$calm: $primary-color;


// Fonts
@import url(http://fonts.googleapis.com/css?family=Cabin|Lobster|Open+Sans:300italic,400,600|Merriweather:700);

// Media queries
$mq-small:   20em;
$mq-medium:  22em;
$mq-large:   40em;

@mixin mq($size) {
  @if      $size == small  { @media only screen and (min-width: $mq-small) { @content; } }
  @else if $size == medium { @media only screen and (min-width: $mq-medium) { @content; } }
  @else if $size == large  { @media only screen and (min-width: $mq-large) { @content; } }
}