// Colors
$font-color: #111;
$small-text-color: #9B9BAB;
$link-color: #8fe3ff;
//$primary-color: #35647E;
$primary-color: #249c9c;
$primary-color-dark: #35647E;
$contrast-color: #eb6963;
$contrast-color-dark: #bf645f;
$background-color: #f7f5e8;
$background-color-dark: #dFdBcE;


// Override ionic
$calm: $primary-color;


// Media queries
$mq-small:   20em;
$mq-medium:  30em;
$mq-large:   40em;

@mixin mq($size) {
  @if      $size == small  { @media only screen and (min-width: $mq-small) { @content; } }
  @else if $size == medium { @media only screen and (min-width: $mq-medium) { @content; } }
  @else if $size == large  { @media only screen and (min-width: $mq-large) { @content; } }
}