/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$font-stack:    "Helvetica Neue", sans-serif;
$primary-color: #1495A7;


/*
	Media queries
 */
$mq-small:   20em;
$mq-medium:  30em;
$mq-large:   40em;

@mixin mq($size) {
  @if      $size == small  { @media only screen and (min-width: $mq-small) { @content; } }
  @else if $size == medium { @media only screen and (min-width: $mq-medium) { @content; } }
  @else if $size == large  { @media only screen and (min-width: $mq-large) { @content; } }
}


body {
  font: 100% $font-stack;
}


h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 3% 0;
}

/*
	List view
*/

.hor-padding {
	padding-left: 75px;
	padding-right: 75px;
}

.top-padding {
	padding-top: 3%;
}

.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

.full-size {
	height: 100%;
	width: 100%;
}

.cat-display {
	display:inline;
	list-style-type:none;
}

#view {
	padding-left: 5% ;
	padding-right: 5% ;
	margin-top: 2%;
}

.viewhead {
	text-align: center;
	padding-bottom: 5% ;
}

.infoText {
	padding-top: 35%;
	text-align: center;
	font-size: 11px;
	color: #9B9BAB;
}

.innerCont{
	padding-left: 8%;
	padding-right: 8%;
}

.loginContainer {
	padding-bottom: 10px;
	
}

.bottomCont {
	padding-top: 30%;
}

.pageIndicatorCont {
	text-align: center;
	padding-top: 5%;
}

.ion-ios-circle-outline{
	padding-right: 2%;
}

.ion-ios-circle-filled{
	padding-right: 2%;
}


/*
    Story view
*/

.item-floating-label .placeholder-icon {
    padding-right: 18px;
    position: absolute;
    bottom: 9px;
    left: 17px;
}

.item-floating-label {
    padding-left: 40px;
}

ion-popover-view .list .button {
    margin-top: 0;
}


#story-header-image {
    width: 100%;
    margin-top: -20%;

    @include mq(medium) {
    margin-top: -25%;
    }

}

#story-header-container {
    overflow: hidden;
    height: 180px;

	@include mq(medium) {
		height: 220px;
	}
}

.story-wrapper h2 {
    margin-bottom: 0;
    float: left;
}

.story-wrapper {
    margin: 2% 5%;
}

.button-bar > .button {
    min-height: 25px;
    line-height: 2.2em;
    font-size: 1em;
    border-color: $primary-color;
    color: $primary-color;
}

.button-bar > .button.active {
    background-color: $primary-color;
    color: #FFF;
}

.story-categories {
    position: absolute;
    right: 5%;
    top: 180px;
    width: 25%;
}
.category-circle {
    font-size: 1.5em;
    background-color: #DDD;
    padding: 2px 7px;
    border-radius: 50%;
}
.story-categories .category-circle {
	float: right;
	margin-top: 5%;
	margin-left: 3%;
}

.author, .published {
    color: #777;
    font-size: 0.8em;
}
.published {
    margin-right: 2%;
}

.story-image-container {

    width: 33%;
    height: 85px;
    float: left;
    overflow: hidden;
    margin-bottom: 5%;
}

.clear-float {
    clear: both;
}

iframe {
    width: 47%;
    margin-right: 2%;
}

.story-footer {
    padding: 2% 4%;
    background-color: $primary-color;
    color: white;
}

.story-footer h3 {
    color: white;
}

.story-footer a {
    color: #0CF;
} 


/*
   Image slider from http://devdactic.com/images-videos-fullscreen-ionic/
*/
.image-list-thumb {
    padding: 2px;
    width: 100%;
    height: auto;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: transparent !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}

/* 
    Star rating 
*/
.rating {
    width: 50%;
    margin: 5% auto;
    text-align: center;
}
.rating .star {
    color: #FFF;
    font-size: 2.5em;
    padding: 0.5%;
}
.rating .filled {
    color: #fd0;
}
.rating button {
    margin: 0 auto;
    width: 150px;
    min-height: 20px;
    line-height: 1.8em;
    font-size: 1em;
}


/*
	Preferences
 */
.preferences h2, .preferences p {
	text-align: center;
}

.preferences .category {
	float: left;
	text-align: center;
	margin: 4%;
    width: 25%;
    height: 0;
    padding-bottom: 24%;
    position: relative;
}

.preferences .category-circle {
	font-size: 3em;
	width: 80%;
	height: 0;
	padding-bottom: 80%;
}

/* Center text horizontally and vertically in circle */
.preferences .category-circle i {
	margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;   
   margin-right: 50%;  
   -webkit-transform: translate(-50%, -50%);              
   transform: translate(-50%, -50%);
}




