/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

@import "variables";


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import "standard";

.button-calm {
	border: none;
}

/*
	Onboarding
*/

.onboardCont{
    width: 100%;
    height: 300px;
    min-height: 200px;
    position: relative;
    outline:1px dotted red;
}

.onboardOne{
    height: 100%;
    position:relative;
    background:   url("/img/onboardOne.png")no-repeat;
    background-size: cover;
    background-position: center;
}

.onboardTwo{
    height: 100%;
    position:relative;
    background:   url("/img/onboard2.png")no-repeat;
    background-size: cover;
    background-position: center;
}

.onboardTree{
    height: 100%;
    position:relative;
    background:   url("/img/onboard3.png")no-repeat;
    background-size: cover;
    background-position: center;
}



.onboardHead {
	text-decoration: underline;
}

.imgCont {
	padding: 5%;
}

.onboardImg {
	height: auto;
	width: auto;
}


/*
    Login view
*/

.header-padding {
    padding-top: 0%;
}

#view {
    padding-left: 5% ;
    padding-right: 5% ;
    margin-top: 12%;
}

.viewhead {
    text-align: center;
    padding-bottom: 5% ;
}

.infoText {
    margin-bottom: 3%;
    text-align: center;
    font-size: 1em;
    color: $small-text-color;
}

.innerContLogin{
    padding-left: 8%;
    padding-right: 8%;
}

.loginContainer {
    padding-bottom: 2%;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 25%;
}

.bottomContLogin {
    padding-top: 36%;
}

.skipContLogin {
    text-align: center;
}

#skipLogin {
    text-align: center;
}

.pageIndicatorContLogin {
    text-align: center;
    padding-top: 15%;
}

.ion-ios-circle-outline{
    padding-right: 2%;
}

.ion-ios-circle-filled{
    padding-right: 2%;
}

/*
    Profil
*/

.button-cont {
    margin-top: 0%;
}

.topContProfile {
    //padding-bottom: 2%;
    //padding-right: 4%;
    //padding-left: 4%;
    //padding-top: 10%;
    width: 100%;
}

.bottomContProfile {
    padding-top: 15%;
    padding-bottom: 19%;
}

#profile-h2 {
    text-align: center;
}

#nav-button1 {
    width: 8em;
    margin-right: 2%;
}

#nav-button2 {
    width: 8em;
    margin-left: 2%;
    float: right;
}

.navIndicator {
    padding-top: 10%;
}

.topContProfile .button-bar > .button, .bottomContProfile .button-bar > .button {
	font-size: 0.9em;
	padding: 0;
	line-height: 3em;
	background-color: $background-color-dark;
	color: $font-color;
	border-color: $small-text-color;
}

/*
	Menu
 */
.bookmark-list {
	padding: 0;
	margin: 0;
}

.bookmark-list div {
	padding: 18px 15px;
}


/*
    List view
*/

.list-horizontal {
	padding-top: 3%;
	display: inline;
	list-style-type: none;
}

.list-full-size {
	height: 100%;
	width: 100%;
}

.list-cat-display {
	display:inline;
	list-style-type:none;
}


/*
	Settings view
*/

.settings-right-adjust {
	float: right;
}

.settings-left-adjust {
	float: left;
}

.settings-height {
	height: 32px;
}

.settings-button-width {
	width: 50%;
}


/*
    Story view
*/
// Bookmarks popover
.item-floating-label .placeholder-icon {
    padding-right: 18px;
    position: absolute;
    bottom: 9px;
    left: 17px;
}
.item-floating-label {
    padding-left: 40px;
}
ion-popover-view .list .button {
    margin-top: 0;
}


// Bookmarks modal
.modal .bookmark-content {
	width: 90%;
	margin: 5% auto;
	
}

.modal.bookmark {
	min-height: 0;
	width: 75%;
	background-color: $background-color;
	position: absolute;
	top: 100px;
	left: 12.5%;
    border-radius: 5px;

    .rating-content {
    	position: relative;
    	top: 20%;
    	transform: translateY(-50%);
    }

    h2 {
    	margin: 7% 0 0 5%;
    }

    form button {
    	float: right;
    	margin-top: 12px;
    	min-height: 20px;
    	line-height: 2.2em;
    	font-family: Cabin, sans-serif;
    }

}

.modal.bookmark .button-clear, .rating-modal .button-clear {
    	position: absolute;
    	top: 3%;
    	right: 4%;
    }


.story {
	background-color: $background-color;
}

#story-header-image {
    width: 100%;

    @include mq(medium) {
    
    }

}

#story-header-container {
    overflow: hidden;
    max-height: 200px;

	@include mq(medium) {
		max-height: 220px;
	}
}

.story-introduction h2 {
    margin-bottom: 0;
    margin-top: 3%;
    float: left;
}

.story-introduction {
	position: relative;
    margin: -8% 3% 0 3%;
    padding: 0 3%;
    border-radius: 5px;
}

.story-wrapper {
	position: relative;
    margin: -0.5% 3% 0 3%;
    padding: 2% 3%;
    border-radius: 5px;
    z-index: -1;
}

 .button-bar > .button {
    min-height: 25px;
    line-height: 2.2em;
    font-size: 1em;
    font-weight: bold;
    border-color: $primary-color;
    color: $primary-color-dark;
    background-color: $primary-color-light;
    letter-spacing: 0.1em;
    position: relative;
}

 .button-bar > .button.active {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
}

.story .button-bar > .button {
	font-size: 1em;
	letter-spacing: 0.1em;
}

.category-circle li {
    font-size: 1.5em;
    background-color: $background-color-dark;
    padding: 2px 5px;
    border-radius: 10%;
    margin-right: 4px;
}

.category-circle {
	.cat-1 {
		background-color: nth($category-colors, 1);
		color: desaturate(darken(nth($category-colors, 1), 55%), 55%);
	}
	.cat-2 {
		background-color: nth($category-colors, 2);
		color: desaturate(darken(nth($category-colors, 2), 55%), 55%);
	}
	.cat-3 {
		background-color: nth($category-colors, 3);
		color: desaturate(darken(nth($category-colors, 3), 55%), 55%);
	}
	.cat-4 {
		background-color: nth($category-colors, 4);
		color: desaturate(darken(nth($category-colors, 4), 55%), 55%);
	}
	.cat-5 {
		background-color: nth($category-colors, 5);
		color: desaturate(darken(nth($category-colors, 5), 55%), 55%);
	}
	.cat-6 {
		background-color: nth($category-colors, 6);
		color: desaturate(darken(nth($category-colors, 6), 55%), 55%);
	}
	.cat-7 {
		background-color: nth($category-colors, 7);
		color: desaturate(darken(nth($category-colors, 7), 55%), 55%);
	}
	.cat-8 {
		background-color: nth($category-colors, 8);
		color: desaturate(darken(nth($category-colors, 8), 55%), 55%);
	}
	.cat-9 {
		background-color: nth($category-colors, 9);
		color: desaturate(darken(nth($category-colors, 9), 55%), 55%);
	}
}

.story-categories .category-circle {
	float: left;
	margin-bottom: 2.5%;
}

.media-content {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 120px;
	background-color: $primary-color;
	padding: 2% 5%;
	white-space: nowrap;
	border-bottom: 1px solid $primary-color-dark;
}

.story-image-container {
	display: inline-block;
    height: 100px;
    overflow: hidden;
    margin-right: 3%;
}

.clear-float {
    clear: both;
}

.video-player {
	display: inline-block;
	height: 100px;
	overflow: hidden;
	margin-right: 3%;
}

.video-player video {
	height: 100%;
	width: auto;
}

.video-player .play-button {
	height: 100%;
	width: auto;
	margin-top: -105px;

	i {
		color: white;
		font-size: 2em;
		position: relative;
		top: 35px;
		left: 60px;
		
	}
}

video::-webkit-media-controls {
    display:none !important;
}


.story-footer {
    padding: 10% 4%;
    background-color: $primary-color;
    color: white;
    position: relative;
    margin-top: -10%;
    z-index: -2;

	h3 {
	    color: white;
	}

	a {
	    color: $link-color;
	} 
}

/*
   Image slider from http://devdactic.com/images-videos-fullscreen-ionic/
*/
.image-list-thumb {
    padding: 2px;
    width: auto;
    height: 100%;
    border-radius: 6px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: transparent !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}

/* 
    Star rating 
*/

// Styling for the modal
.rating-modal {
	min-height: 30%;
	height: 30%;
	width: 75%;
	background-color: $background-color;
	position: absolute;
	top: 20%;
	left: 12.5%;
    border-radius: 5px;
    text-align: center;

    .rating-content {
    	position: relative;
    	top: 25%;
    }

    .star {
    	color: $background-color-dark;
    	font-size: 2.5em;
    	padding: 0.5%;
    }

   button.button-light {
   		width: 120px;
   		margin: 0 auto;
   		font-size: 0.9em;
   		min-height: 20px;
   		line-height: 1.8em;
   		background-color: $background-color-dark;
   		border: none;
   		margin-top: 4px;
   }

   button.button-light.active {
   	background-color: $primary-color;
   	color: white;
   }

   .filled {
   color: #fd0;
   }
}

// Styling for rating below story. 
.rating {
    width: 50%;
    margin: 5% auto;
    text-align: center;
    color: white;

	.star {
	    color: rgba(255,255,255,0.7);
	    font-size: 2.5em;
	    padding: 0.5%;
	}
	.filled {
	    color: #fd0;
	}
	.button.button-light {
	    margin: 4px auto;
	    width: 120px;
	    min-height: 20px;
	    line-height: 1.8em;
	    font-size: 0.9em;
	    background-color: rgba(255,255,255,0.7);
	    color: $primary-color;
	    border: none;
	}
	.button.button-light.active {
		background-color: white;
	}
}


/*
	Preferences
 */

.categories {
	margin: 5% 0;
	

	.category {
		float: right;
		text-align: center;
		margin: 4%;
	    width: 25%;
	    height: 0;
	    padding-bottom: 24%;
	    position: relative;
	}

	.category:nth-of-type(1) {
		.category-circle {
			background-color: desaturate(lighten(nth($category-colors, 1), 10%), 10%);
			color: desaturate(darken(nth($category-colors, 1), 20%), 40%);
			border: 1.5px solid lighten(nth($category-colors, 1), 8%);
		}
		.category-circle-selected {
				background-color: nth($category-colors, 1);
				color: desaturate(darken(nth($category-colors, 1), 55%), 55%);
				border-color: nth($category-colors, 1);
			}
	}
	.category:nth-of-type(2) {
		.category-circle {
			background-color: desaturate(lighten(nth($category-colors, 2), 10%), 10%);
			color: desaturate(darken(nth($category-colors, 2), 20%), 40%);
			border: 1.5px solid lighten(nth($category-colors, 2), 8%);
		}
		.category-circle-selected {
				background-color: nth($category-colors, 2);
				color: desaturate(darken(nth($category-colors, 2), 55%), 55%);
				border-color: nth($category-colors, 2);
			}
	}
	.category:nth-of-type(3) {
		.category-circle {
			background-color: desaturate(lighten(nth($category-colors, 3), 10%), 10%);
			color: desaturate(darken(nth($category-colors, 3), 20%), 40%);
			border: 1.5px solid lighten(nth($category-colors, 3), 8%);
		}
		.category-circle-selected {
				background-color: nth($category-colors, 3);
				color: desaturate(darken(nth($category-colors, 3), 55%), 55%);
				border-color: nth($category-colors, 3);
			}
	}
	.category:nth-of-type(4) {
		.category-circle {
			background-color: desaturate(lighten(nth($category-colors, 4), 10%), 10%);
			color: desaturate(darken(nth($category-colors, 4), 20%), 40%);
			border: 1.5px solid lighten(nth($category-colors, 4), 8%);
		}
		.category-circle-selected {
				background-color: nth($category-colors, 4);
				color: desaturate(darken(nth($category-colors, 4), 55%), 55%);
				border-color: nth($category-colors, 4);
			}
	}
	.category:nth-of-type(5) {
		.category-circle {
			background-color: desaturate(lighten(nth($category-colors, 5), 10%), 10%);
			color: desaturate(darken(nth($category-colors, 5), 20%), 40%);
			border: 1.5px solid lighten(nth($category-colors, 5), 8%);
		}
		.category-circle-selected {
				background-color: nth($category-colors, 5);
				color: desaturate(darken(nth($category-colors, 5), 55%), 55%);
				border-color: nth($category-colors, 5);
			}
	}
	.category:nth-of-type(6) {
		.category-circle {
			background-color: desaturate(lighten(nth($category-colors, 6), 10%), 10%);
			color: desaturate(darken(nth($category-colors, 6), 20%), 40%);
			border: 1.5px solid lighten(nth($category-colors, 6), 8%);
		}
		.category-circle-selected {
				background-color: nth($category-colors, 6);
				color: desaturate(darken(nth($category-colors, 6), 55%), 55%);
				border-color: nth($category-colors, 6);
			}
	}
	.category:nth-of-type(7) {
		.category-circle {
			background-color: desaturate(lighten(nth($category-colors, 7), 8%), 10%);
			color: desaturate(darken(nth($category-colors, 7), 20%), 40%);
			border: 1.5px solid lighten(nth($category-colors, 7), 8%);
		}
		.category-circle-selected {
				background-color: darken(nth($category-colors, 7), 4%);
				color: desaturate(darken(nth($category-colors, 7), 57%), 55%);
				border-color: nth($category-colors, 7);
			}
	}
	.category:nth-of-type(8) {
		.category-circle {
			background-color: desaturate(lighten(nth($category-colors, 8), 10%), 10%);
			color: desaturate(darken(nth($category-colors, 8), 20%), 40%);
			border: 1.5px solid lighten(nth($category-colors, 8), 8%);
		}
		.category-circle-selected {
				background-color: nth($category-colors, 8);
				color: desaturate(darken(nth($category-colors, 8), 58%), 55%);
				border-color: nth($category-colors, 8);
			}
	}
	.category:nth-of-type(9) {
		.category-circle {
			background-color: desaturate(lighten(nth($category-colors, 9), 10%), 10%);
			color: desaturate(darken(nth($category-colors, 9), 20%), 40%);
			border: 1.5px solid lighten(nth($category-colors, 9), 8%);
		}
		.category-circle-selected {
				background-color: nth($category-colors, 9);
				color: desaturate(darken(nth($category-colors, 9), 55%), 55%);
				border-color: nth($category-colors, 9);
			}
	}


	.category-circle {
		font-size: 3em;
		width: 80%;
		height: 0;
		padding-bottom: 80%;
	}

	.button {
		border: none;
	}

	/* Center text horizontally and vertically in circle */
	.category-circle i {
		margin: 0;
	   position: absolute;
	   top: 50%;
	   left: 50%;   
	   margin-right: 50%;  
	   -webkit-transform: translate(-50%, -50%);              
	   transform: translate(-50%, -50%);
	}

}

/*
	Recommendations
 */
.recommendations {
	background-color: $background-color;
}

.recom-story-categories {
	position: absolute;
	bottom: 15px;
	left: 7.5%;
	width: 85%;
}


.recom-category-circle {

	.cat-1 {
		background-color: nth($category-colors, 1);
		color: desaturate(darken(nth($category-colors, 1), 45%), 55%);
	}
	.cat-2 {
		background-color: nth($category-colors, 2);
		color: desaturate(darken(nth($category-colors, 2), 45%), 55%);
	}
	.cat-3 {
		background-color: nth($category-colors, 3);
		color: desaturate(darken(nth($category-colors, 3), 45%), 55%);
	}
	.cat-4 {
		background-color: nth($category-colors, 4);
		color: desaturate(darken(nth($category-colors, 4), 45%), 55%);
	}
	.cat-5 {
		background-color: nth($category-colors, 5);
		color: desaturate(darken(nth($category-colors, 5), 45%), 55%);
	}
	.cat-6 {
		background-color: nth($category-colors, 6);
		color: desaturate(darken(nth($category-colors, 6), 45%), 55%);
	}
	.cat-7 {
		background-color: nth($category-colors, 7);
		color: desaturate(darken(nth($category-colors, 7), 50%), 55%);
	}
	.cat-8 {
		background-color: nth($category-colors, 8);
		color: desaturate(darken(nth($category-colors, 8), 45%), 55%);
	}
	.cat-9 {
		background-color: nth($category-colors, 9);
		color: desaturate(darken(nth($category-colors, 9), 45%), 55%);
	}
}

.recom-category-circle.media-icons {
	background-color: $background-color-dark;
}



.recom-category-circle li {
    font-size: 1.2em;
    width: 27px;
    line-height: 27px;
    border-radius: 10%;
	margin-right: 1.5%;
	float: left;
}


.media-icons {
	float: right;
}

ion-slide .card {
	width: 75%;
	height: 75%;
	margin: 12% auto;
	position: relative;
	text-align: center;
	border-radius: 10px;
}

.reject-story-icon {
	position: absolute;
	top: 3%;
	right: 6%;
	font-size: 1.4em;
	color: #FFF;
	background-color: rgba(0,0,0,0.34);
	padding: 1% 2%;
	border-radius: 50%;
}

ion-slide img {
	min-width: 100%;
	height: auto;
}

ion-slide .content-wrapper {
	margin: 3% 6%;
}

.image-wrapper {
	width: 100%;
	overflow: hidden;
	height: 200px;
	margin-bottom: 5%;
}

ion-slide h2 {
	margin-bottom: 1%;
	margin-top: 3%;
	clear: both;
}

ion-slide p {
	font-size: 0.9em;
	overflow: hidden;
}

ion-slide .button {
	//position: absolute;
	width: 50%;
	//bottom: 5%;
	//left: 20%;
	margin: 0 auto;
	border-radius: 8px;
}

.fade-box {
	position: absolute; 
	bottom: 3%; 
	left: 0;
	width: 100%; 
	height: 100px;
	margin: 0;

	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(75%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.slide-nav {
	position: absolute;
  	top: 40%;
  	transform: translateY(-40%);
  	font-size: 2em;
  	padding: 50px 10px;
}

.slide-nav-left {
	margin-left: 2%;
}

.slide-nav-right {
  	margin-left: 90%;
}

/* Loading */
.ion-loading-a {
	font-size: 2.5em;
}

