@font-face {
	font-family: 'categories';
	src:url('fonts/categories.eot?31m98f');
	src:url('fonts/categories.eot?#iefix31m98f') format('embedded-opentype'),
		url('fonts/categories.woff?31m98f') format('woff'),
		url('fonts/categories.ttf?31m98f') format('truetype'),
		url('fonts/categories.svg?31m98f#categories') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'categories';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Technology:before {
	content: "\e600";
}

.icon-Religion:before {
	content: "\e601";
}

.icon-Nature:before {
	content: "\e602";
}

.icon-History:before {
	content: "\e603";
}

.icon-Architecture .path1:before {
	content: "\e604";
	color: rgb(255, 255, 255);
}
.icon-Architecture .path2:before {
	content: "\e606";
	margin-left: -1em;
	color: rgb(84, 84, 84);
}
.icon-Architecture .path3:before {
	content: "\e607";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path4:before {
	content: "\e608";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path5:before {
	content: "\e609";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path6:before {
	content: "\e60a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path7:before {
	content: "\e60b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path8:before {
	content: "\e60c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path9:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(84, 84, 84);
}
.icon-Architecture .path10:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path11:before {
	content: "\e60f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path12:before {
	content: "\e610";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path13:before {
	content: "\e611";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path14:before {
	content: "\e612";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path15:before {
	content: "\e613";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path16:before {
	content: "\e614";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path17:before {
	content: "\e615";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path18:before {
	content: "\e616";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path19:before {
	content: "\e617";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path20:before {
	content: "\e618";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path21:before {
	content: "\e619";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path22:before {
	content: "\e61a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Architecture .path23:before {
	content: "\e61b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.icon-Art .path1:before {
	content: "\e605";
	color: rgb(255, 255, 255);
}
.icon-Art .path2:before {
	content: "\e61c";
	margin-left: -1em;
	color: rgb(84, 84, 84);
}
.icon-Art .path3:before {
	content: "\e61d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Art .path4:before {
	content: "\e61e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Art .path5:before {
	content: "\e61f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Art .path6:before {
	content: "\e620";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Art .path7:before {
	content: "\e621";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Art .path8:before {
	content: "\e622";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Art .path9:before {
	content: "\e623";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-Art .path10:before {
	content: "\e624";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

