/* Empty. Add your own CSS if you like */


.hor-padding {
	padding-left: 75px;
	padding-right: 75px;
}

.hor-padding2 {
	padding-left: 65px;
	padding-right: 65px;
}

.thinBorder {
    border-style: solid;
    border-width: 1px;
    border-color:  	#A9A9A9;
}

.lavender {
    background-color:   #E6E6FA;
}

.gray {
    background-color:  #FCFCFC
}

.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

.text-width {
    width: 90%;
}