/* Empty. Add your own CSS if you like */


.hor-padding {
	padding-left: 75px;
	padding-right: 75px;
}

.hor-padding2 {
	padding-left: 65px;
	padding-right: 65px;
}

.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

.text-width {
    width: 90%;
}


#view {
	padding-left: 5% ;
	padding-right: 5% ;
	margin-top: 2%;
}

.viewhead {
	text-align: center;
	padding-bottom: 5% ;
}

.infoText {
	padding-top: 35%;
	text-align: center;
	font-size: 11px;
	color: #9B9BAB;
}

.innerCont{
	padding-left: 8%;
	padding-right: 8%;
}

.loginContainer {
	padding-bottom: 10px;
	
}

.bottomCont {
	padding-top: 30%;
}

.pageIndicatorCont {
	text-align: center;
	padding-top: 5%;
}

.ion-ios-circle-outline{
	padding-right: 2%;
}

.ion-ios-circle-filled{
	padding-right: 2%;
}


